.header-container {
  display: flex;
  box-shadow: 1px 0px 24px rgba(0, 0, 0, 0.1);
  width: 100vw;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .button-menu {
    margin-right: 24px;
  }
}

.container-logo {
  padding: 24px 40px 24px 40px;
  margin-right: 40px;
}

.logo-img {
  width: 112px;
  height: auto;
  object-fit: fill;
}
