@use '@carbon/react' with (
  $font-path: '@ibm/plex'
);

body {
  display: block;
  margin: 0px;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #f6f6f6;
}

@media screen and (max-width: 500px) {
  .top-container {
    flex-direction: column;
    width: 80vw;
  }
  .side-bar-container {
    position: absolute;
    bottom: -160vh;
  }
}
