@use '@carbon/react' with (
  $font-path: '@ibm/plex'
);

body {
  display: block;
  margin: 0px;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #f6f6f6;
}

@media screen and (max-width: 600px) {
  .line-chart-container {
    width: 90vw;
    overflow-x: overlay;
    overflow-x: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
    position: relative;
    left: -4vw;
  }
  ::-webkit-scrollbar-track {
    background-color: #626262;
    padding-right: 30px;
  }
  ::-webkit-scrollbar {
    width: 4px;
    background: #f4f4f4;
  }
  ::-webkit-scrollbar-thumb {
    background: #f1934f;
  }

  .top-container {
    flex-direction: column;
    width: 68vw;
  }
  .page-title {
    font-size: 7vw;
  }
  .data-temp-humi-container {
    margin-left: 0;
  }
  .data-temp-humi {
    font-size: 5vh;
  }
  .temperature-humidity-container {
    height: 20vh;
  }
  .temperature-humidity-container img {
    height: 15vw;
  }
  .data-temp-humi-desc {
    font-size: 2.5vh;
    text-align: center;
  }
  .header-container {
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 100;
  }
  .page-title {
    margin-top: 80px;
  }
  .side-bar-container {
    position: absolute;
    top: 970px;
    right: 1vw;
  }
  .side-bar-content {
    width: 90vw;
  }
}
