@use '@carbon/react' with (
  $font-path: '@ibm/plex'
);

body {
  display: block;
  margin: 0px;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #f6f6f6;
}

@media screen and (max-width: 500px) {
  .top-container {
    flex-direction: column;
    width: 395px;
  }
  .header-container {
    width: max-content;
    position: fixed;
    z-index: 100;
  }
  .page-title {
    margin-top: 80px;
  }
  .side-bar-container {
    position: absolute;
    top: 1000px;
  }
}
